  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> rhinocross@gmail.com</li>
            <li><i class="fa fa-map"></i> Rua da Austrália, 7, R. da Austrália, 07 - Paripe</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a href="https://www.facebook.com/profile.php?id=100089359205298&ref=xav_ig_profile_web"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.me%2F5571996237821&e=AT3BhHRGcZ0wvIrqbSBOuMGH0p7zrlH6xCiYLYYkm0b0KoX1etDUY1wpXMx1xlm9MtRTBEXZvPGP_6f5jLyVYkK9hjFFNLWdn2LLMw"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/rhinocrossct/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                  {{!-- Logo --}}
                    <a href="/" class="logo">
                        <h1>RhinoCross</h1>
                    </a>
                    {{!-- Nav --}}
                    <ul class="nav">
                      <li><a href="/" class="active">Home</a></li>
                      <li><a href="/properties">Planos</a></li>
                      <li><a href="/contact">Contato</a></li>
                      <li><a href="https://wa.me/5571996237821?text=Vim%20pelo%20site%20de%20vcs,%20quero%20mais%20informações%20sobre%20a%20box%20e%20todo%20mais."><i class="fa fa-calendar"></i>Fale conosco</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
  </header>