{{>header}}
<body>
    <div class="main-banner">
        <div class="owl-carousel owl-banner">
            <div class="item item-1">
                <div class="header-text">
                    <span class="category">Salvador, <em>Paripe</em></span>
                    <h2>Uma energia como você nunca viu!</h2>
                </div>
            </div>
            <div class="item item-2">
                <div class="header-text">
                    <span class="category">Salvador, <em>Paripe</em></span>
                    <h2>Treine o seu corpo e a sua mente!</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="featured section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="/images/RHINO INTO.jpg">
                        <a href="property-details.html"><img src="/images/featured-icon.png" alt=""
                                style="max-width: 60px; padding: 0px;"></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| RhinoCross</h6>
                        <h2>Junte-se a manada!!</h2>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Porque fazer crossfit?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify;">
                                    CrossFit é escolhido por muitos devido à sua abordagem versátil e eficiente para o
                                    condicionamento físico. Com uma combinação de exercícios diversificados, desde
                                    levantamento de peso até cardio e ginástica, os treinos são curtos, intensos e
                                    adaptáveis a diferentes níveis de condicionamento.
                                    <br>
                                    Além dos benefícios físicos, a comunidade solidária, a orientação profissional e a
                                    melhoria geral da aptidão contribuem para tornar o CrossFit uma escolha popular para
                                    aqueles que buscam resultados rápidos e uma experiência de treino envolvente.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Quais benefícios no de praticar Crossfit?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify;">
                                    O CrossFit oferece uma abordagem eficiente e abrangente para o condicionamento
                                    físico, promovendo melhorias em força, resistência, flexibilidade e coordenação.
                                    Além da queima calórica intensa, a atmosfera de grupo cria uma comunidade motivadora
                                    que estimula o comprometimento e a superação de desafios.
                                    <br>
                                    Com treinos curtos e intensos adaptáveis a diferentes níveis, o CrossFit não apenas
                                    oferece resultados visíveis rapidamente, mas também fortalece a resiliência mental
                                    por meio de desafios físicos e a orientação profissional garante uma prática segura
                                    e eficaz.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Como funciona o Crossfit?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify;">
                                    O CrossFit é um método de treinamento que se baseia na realização de movimentos
                                    funcionais constantemente variados em alta intensidade. Os treinos, conhecidos como
                                    WODs (Workouts of the Day), geralmente incluem uma combinação de levantamento de
                                    peso, exercícios cardiovasculares e movimentos de ginástica. A ideia central é
                                    promover uma adaptação ampla e geral, desenvolvendo as principais capacidades
                                    físicas, como resistência cardiovascular, força, flexibilidade, velocidade e
                                    coordenação.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="video section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4">
                                <div class="section-heading text-center">
                                    <h6>| Video</h6>
                                    <h2>CONFIRA ONDE A MAGIA ACONTECE!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="video-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="video-frame">
                                    <img src="/images/Video Apresentacao.mp4" alt="">
                                    <a href="/images/Video Apresentacao.mp4" target="_blank"><i
                                            class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4">
                                <div class="section-heading text-center">
                                    <h6>| Planos</h6>
                                    <h2>Venha conhecer nossos planos!</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row properties-box">
                            <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
                                <div class="item">
                                    <a
                                        href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%202x%20+%20(Sáb)"><img
                                            src="/images/Mensal 2x.png" alt=""></a>
                                    <span class="category">Flex</span>
                                    <h6>R$ 149,90</h6>
                                    <h4><a
                                            href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%202x%20+%20(Sáb)">Mensal
                                            2x + (Sáb)</a></h4>
                                    <ul>
                                        Treine duas vezes por semana com a opção de uma sessão adicional aos sábados.
                                        Flexível e equilibrado.
                                    </ul>
                                    <div class="main-button">
                                        <a
                                            href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%202x%20+%20(Sáb)">Quero
                                            esse!!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
                                <div class="item">
                                    <a
                                        href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%203x%20+%20(Sáb%20+%20Dom)"><img
                                            src="/images/Mensal 3x.png" alt=""></a>
                                    <span class="category">Flex</span>
                                    <h6>R$ 169,90</h6>
                                    <h4><a
                                            href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%203x%20+%20(Sáb%20+%20Dom)">Mensal
                                            3x + (Sáb + Dom) </a></h4>
                                    <ul>
                                        Treine três vezes por semana, incluindo sessões nos sábados e domingos para
                                        intensificar seu comprometimento.
                                    </ul>
                                    <div class="main-button">
                                        <a
                                            href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%203x%20+%20(Sáb%20+%20Dom)">Quero
                                            esse!!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
                                <div class="item">
                                    <a
                                        href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%205x%20+%20(Sáb%20+%20Dom)"><img
                                            src="/images/Mensal 5x.jpg" alt=""></a>
                                    <span class="category">Flex</span>
                                    <h6>R$ 189,90</h6>
                                    <h4><a
                                            href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%205x%20+%20(Sáb%20+%20Dom)">Mensal
                                            5x + (Sáb + Dom)</a></h4>
                                    <ul>
                                        Treine cinco vezes por semana, com sessões adicionais nos sábados e domingos
                                        para resultados otimizados.
                                    </ul>
                                    <div class="main-button">
                                        <a
                                            href="https://wa.me/5571996237821?text=Olá,%20boa%20tarde,%20gostei%20do%20plano%20Mensal%205x%20+%20(Sáb%20+%20Dom)">Quero
                                            esse!!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="main-button1" style="text-align: center;">
                    <a href="/properties">Ver mais</a>
                </div>

                <div class="contact section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4">
                                <div class="section-heading text-center">
                                    <h2>localização</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div id="map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.031783930122!2d-38.47365962396986!3d-12.841222657203167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71613297bf6dfa1%3A0xd05358373626974c!2sCT%20Rhino%20Cross!5e0!3m2!1spt-BR!2sbr!4v1700593174124!5m2!1spt-BR!2sbr"
                                        width="1090" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- {{>footer}} --}}

</body>

</html>